@use '../variables' as *;

.about {
    height: auto;
    min-height: 100dvh;
    padding-bottom: 1em;
    text-align: left;

    h2 {
        margin: 1em 0 0.25em 0;
        text-align: left;
    }
}