@use '../variables' as *;


.capabilities {
    z-index: 20;

    .capabilities__title {
        margin-top: 3em;
        margin-bottom: 2em;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0em;

            .capabilities__description {
                padding-left: 3em;
            }
        }
    }

    .capabilities__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 16px;
        grid-row-gap: 24px;


        margin: 0 auto;
        width: 100%;

        @media (min-width: 414px) {

            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 48px;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 48px;
            padding: 80px 0;
        }

        .capabilities__item {
            position: relative;

            .capabilities__item__image {
                background-color: $green;
                max-width: 100%;
                transition: all 0.4s;
                -webkit-transform: scale(1);
                transform: scale(1);
                display: block;
                width: 100%;
                height: auto;
                border-radius: 8px;

                img {
                    max-width: 100%;
                    transition: all 0.4s;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 8px;

                    mix-blend-mode: subtract;
                }
            }


            .capabilities__item__description {
                text-align: left;
                padding: 0.3em;
                opacity: 0.6;

                h3 {
                    margin-top: 0.7em;
                }
            }
        }

    }

}