@use '../variables' as *;

.contact {
    z-index: 20;
    position: relative;
    text-align: left;
    // height: calc(100vh - 2.5em);
    min-height: calc(100vh - 2.5em);

    .contact__content {

        form {
            display: flex;
            padding: 2em 0;
            flex-direction: column;
            color: white;

            input,
            textarea {
                position: relative;
                margin: 0 0 1em 0;
                font-size: 1.0em;
                color: white;
                width: 100%;

                background-color: transparent;
                background: none;
                outline: none;
                border: 1px solid white;
                border-radius: 0.6em;
                padding: 0.5em 1em;


                &::placeholder {
                    color: white;
                    opacity: 0.6;
                }
            }

            textarea {
                position: relative;

                width: 100%;
                min-height: 7em;
            }

            .errorMessage {
                position: relative;
                font-size: 0.7em;
                color: $red;
                margin-bottom: 0.5em;
                top: -1.5em;
                display: inline-block;
            }
        }
    }
}