@use '../variables' as *;

.hero {
    position: relative;
    // justify-content: flex-start;
    // background: $light-blue;
    // background-position: center top;
    // background-size: cover;
    // background-repeat: no-repeat;
    padding: 0;
    height: 200vh;


    .p1 {
        margin-bottom: 2em;
    }

    .video-holder {
        width: 100%;
        height: 110vh;
        position: sticky;
        top: 0;


        video {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    // .dash-hidden {
    //     // visibility: hidden;
    //     padding: 0;
    // }

    .hero-top-layer {
        z-index: 2;
        background-color: $white;
        mix-blend-mode: lighten;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        height: 100svh;
        display: flex;
        position: absolute;
        inset: 0% 0% auto;


        .left {
            position: relative;
            padding: 7em 0 0 0;
            width: 100%;
            display: flex;
            justify-content: inherit;
            align-items: inherit;

            h1 div div,
            .p1 div div {
                display: inline-block !important;
                // width: auto;
                // background: $red;
                background: rgba($black, 1.0);
                padding: 0.3em;
                margin-bottom: -0.3em;
                color: $white;
            }

            .p1 div {
                display: inline-block;
                padding: 0.3em;
                margin-bottom: -0.3em;
            }

            h1 div {
                margin-bottom: -0.1em;
            }

            @media (min-width: 480px) {

                h1 {
                    font-size: 4em;

                }
            }

            button {
                &:hover {
                    &.red {
                        color: $red;
                        border-color: $white;
                        background: $white;
                    }
                }
            }

            @media (min-width: 480px) {
                padding: 10em 0 6em 0;
                max-width: 90%;
                height: 100%;
            }

            @media (min-width: 768px) {
                max-width: 65%;
                height: 100%;
            }

            @media (min-width: 1024px) {
                width: 80%;
            }
        }
    }
}