@use '../variables' as *;

.hero {
    position: relative;
    padding: 0;

    .p1 {
        margin-bottom: 2em;
    }

    .video-holder {
        position: absolute;
        width: 100%;
        height: 102vh;
        top: -1vh;
        transform-origin: bottom center;
        overflow: hidden;

        video,
        .button-holder {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }


        .button-holder {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                position: relative;
            }
        }

    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        object-fit: contain;
        width: 100%;
        height: 100%;
        z-index: 100;

        .button-close {
            position: absolute;
            top: 2em;
            right: 2em;
            padding: 1em;
            background: black;
        }
    }

    .hero-top-layer {
        z-index: 2;
        background-color: $white;
        mix-blend-mode: lighten;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        height: 100svh;
        display: flex;
        position: absolute;
        inset: 0% 0% auto;

        .left {
            position: relative;
            padding: 7em 0 0 0;
            width: 100%;
            display: flex;
            justify-content: inherit;
            align-items: inherit;

            h1 div div,
            .p1 div div {
                display: inline-block !important;
                background: rgba($black, 1.0);
                padding: 0.3em;
                margin-bottom: -0.3em;
                color: $white;
            }

            .p1 div {
                display: inline-block;
                padding: 0.3em;
                margin-bottom: -0.3em;
            }

            h1 div {
                margin-bottom: -0.1em;
            }

            @media (min-width: 480px) {

                h1 {
                    font-size: 4em;

                }
            }

            button {
                &:hover {
                    &.red {
                        color: $red;
                        border-color: $white;
                        background: $white;
                    }
                }
            }

            @media (min-width: 480px) {
                padding: 10em 0 6em 0;
                max-width: 90%;
                height: 100%;
            }

            @media (min-width: 768px) {
                max-width: 65%;
                height: 100%;
            }

            @media (min-width: 1024px) {
                width: 80%;
            }
        }
    }
}