@use '../variables' as *;

.work {

    padding: 4em 1em;

    .work__title {
        padding: 0em 2em;
    }

    @media (min-width: 414px) {
        padding: 4em 2em;

        .work__title {
            padding: 0em 4em;
        }
    }

    .work__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 16px;
        grid-row-gap: 24px;

        margin: 0 auto;
        width: 100%;
        z-index: 20;


        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 48px;
            padding: 80px 0;
        }

        .work__item {
            position: relative;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $black;
                font-size: 0.8em;
            }


            .work__item__image {
                max-width: 100%;
                transition: all 0.4s;
                -webkit-transform: scale(1);
                transform: scale(1);
                display: block;
                width: 100%;
                height: auto;
                border-radius: 8px;
                overflow: hidden;

                transition: filter 0.5s $cubicEaseOut;

                img {
                    max-width: 100%;
                    transition: transform 0.4s;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                    filter: saturate(0.82);
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: $green;
                    mix-blend-mode: multiply;
                    opacity: 0;
                }
            }

            .work__item__description {
                text-align: left;
                padding: 0.3em;
                opacity: 0.6;
            }


            &:hover {
                .work__item__image {
                    filter: saturate(1);

                    @media (min-width: 768px) {
                        img {
                            -webkit-transform: scale(1.02);
                            transform: scale(1.02);
                            filter: saturate(1);
                        }
                    }

                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }
}