@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Thin.woff2') format('woff2'),
        url('LibreFranklin-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

