.hero {
    // min-height: 95vh;
    // background-image: url('/img/bg-circles.svg');
    background-image: url('/img/backgrounds/fruitloops.009.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

    p {
        margin-bottom: 2em;
    }
}