.testemonials {
    // min-height: 90vh;
    // background-image: url('/img/bg-circles.svg');
    // background-image: url('/img/backgrounds/fruitloops.009.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    min-height: auto;

    .intro {
        padding: 2em 0 1em 0;
    }

    .quotes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4em;
        grid-row-gap: 0px;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;

            svg {
                height: 2em;
            }

            &.saatchi {
                svg {
                    height: 3em;
                }
            }
        }
    }
}