$green: #1B7777;
$black: #000;
$white: #fff;
$red: #f35035;
$beige: #ece8e7;
$light: #f9f9ff;

@use './scss/fonts';
@use './scss/typography';
@use './scss/containers';
@use './scss/buttons';

body {
  background-color: $green;
  font-family: 'PPFragment Sans';
  font-weight: 300;
  background-color: $light;
  margin: 0;
  padding: 0;
  line-height: 1.3;

}

#root {
  position: absolute;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.noise {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/img/noise.jpg);
  opacity: 0.4;
  mix-blend-mode: overlay;
  // background-blend-mode: overlay;
  pointer-events: none;
  user-select: none;
}