@use './variables' as *;

button {
    outline: 0;
    border: 0;
    font-family: 'PPFragment Sans';

    font-weight: normal;
    line-height: 1;
    padding: 0.7em 2em;
    border-radius: 2em;
    font-size: 1.2em;
    color: white;
    background: $green;
    border: 2px solid $green;
    cursor: pointer;
    backdrop-filter: blur(2px);

    transition: background 0.2s ease-out, color 0.2s ease-out;

    &.red {
        background: $red;
        border: 2px solid $red;
    }

    &.black {
        background: $black;
        border: 2px solid $black;
    }

    &.white {
        background: $white;
        border: 2px solid $white;
        color: $black;
    }

    &:hover {
        background: rgba($white, 0.05);
        color: $green;

        &.red {
            background: rgba($white, 0.1);
            color: $red;
        }

        &.black {
            color: $black;
        }

        &.white {
            background: $black;
            color: $white;
        }
    }
}