@use './variables' as *;

button {
    outline: 0;
    border: 0;
    font-family: 'PPFragment Sans';

    font-weight: normal;
    line-height: 1;
    padding: 0.7em 2em;
    border-radius: 2em;
    font-size: 1.2em;
    color: white;
    background: $green;
    border: 2px solid $green;
    cursor: pointer;
    // backdrop-filter: blur(2px);

    transition:
        background 0.2s ease-out,
        border-color 0.2s ease-out,
        color 0.2s ease-out;

    &.red {
        background: $red;
        border: 2px solid $red;

        &.inverted {
            background: rgba($white, 0.05);
            color: $red;
        }
    }

    &.black {
        background: $black;
        border: 2px solid $black;
    }

    &.white {
        background: $white;
        border: 2px solid $white;
        color: $black;
    }

    &.border-black {
        border-color: $black;
    }

    &.border-white {
        border-color: $white;
    }

    &:hover {
        background: rgba($white, 0.05);
        color: $green;

        &.red {
            background: $red;
            color: $red;

            &.inverted {
                background: $red;
                border: 2px solid $red;
                color: $white;
            }
        }

        &.black {
            color: $black;

            &.border-white {
                background-color: $white;
                border-color: $white;
            }
        }

        &.white {
            background: $black;
            color: $white;

            &.border-black {
                border-color: $white;
            }
        }
    }
}


// email SVG button
.email-button-icon {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
    width: auto;
    height: 20px;
    padding: 10px 10px;

    .white {
        stroke: $white;
    }

    .red {
        stroke: $red;
    }

    .green {
        stroke: $green;
    }

    .black {
        stroke: $black;
    }
}