.hero-image {
    position: relative;
    min-height: auto;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.video-holder {
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}