.margin-top {
    margin-top: 1em;
}

.padding-top {
    padding-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.col2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}