@use './variables' as *;

body,
#root {
    font-size: 16px;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 1280px) {
        font-size: 22px;
    }

    @media (min-width: 1440px) {
        font-size: 24px;
    }
}

h1.red,
h2.red,
h3.red,
h4.red,
h5.red,
p.red,
span.red {
    color: $red;
}

h1.green,
h2.green,
h3.green,
h4.green,
h5.green,
p.green,
span.green {
    color: $green;
}

h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
p.black,
span.black {
    color: $black;
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
p.white,
span.white {
    color: $white;
}

h1,
h2,
h3,
h4 {
    font-family: 'PPFragment Text';
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

p,
.p1 {
    margin-bottom: 0.7em;
}

.p2 {
    font-size: 1em;
}

.p3 {
    font-size: 0.8em;
    line-height: 1.1;
}


h1 {
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;

    &.xl {
        font-size: 3.2em;
    }
}

h3 {
    font-size: 1.6em;
    line-height: 1.2;
}

@media (min-width: 414px) {
    h1 {
        text-transform: uppercase;
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;

        &.xl {
            font-size: 4em;
        }
    }

    h3 {
        font-size: 1.8em;
    }
}


h1 .overflow-hidden,
h2 .overflow-hidden,
h3 .overflow-hidden,
h4 .overflow-hidden,
p .overflow-hidden {
    overflow-y: hidden;
    position: relative;
}