$black: #000;
$dark: #22222C;
$white: #fff;
// $green: #317c20;
$green: rgb(27, 119, 119);
$red: #f15c3e;
$beige: #ece8e7;
$light: #f9f4e9;
$light-blue: #bfd4d7;


// easing
$cubicEaseOut: cubic-bezier(0.23, 1, 0.320, 1);