$black: #000;
$off-black: #0a0a0a;
$dark: #22222C;
$white: #fff;
// $green: #317c20;
$green: #1b7777;
$red: #f15c3e;
$dark-red: #e30101;
$beige: #ece8e7;
$light: #f9f4e9;
$light-blue: #bfd4d7;


// easing
$cubicEaseOut: cubic-bezier(0.23, 1, 0.320, 1);